// whitegry_plus
// an advanced theme based on whitegry
//
// Author: Hori Yuma
//
// import base theme
//
@import 'original';

//
// common part
//

#UICenter #modal {
  box-shadow: none;
  -webkit-overflow-scrolling: touch;
}

#Header {
  border-bottom: 0;
}

#UICenter {
  // enable smooth scrolling for iOS
  -webkit-overflow-scrolling: touch;
  background: #eee;
}

#Footer,
.CollectImageBorder,
.HomePanelIN,
.ImageBorder,
.RecordPanel,
.Picture,
.VideoBorder {
  // remove borders
  border: 0;
}

// general button style
#UICenter input[type=button],
#UICenter input[type=submit],
#UICenter button,
#UICenter .ResponsiveButton {
  border: 1px solid #dedede;
  border-radius: 8px;
  box-shadow: none;
  background: #ffffff;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}


#SearchBox {
  margin-right: 0;
}

#SearchBoxPanel {
  border: 0;
  border-radius: 0;
}

// search input
#ssearchbox {
  height: 30px;
  line-height: 30px;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 16px;
}


.BasicsBox {
  padding: 10px;
  margin-top: 10px;
}

.Listview {
  background: white;
  padding: 10px;

  td {
    border-right: 1px solid #eee;
  }
}

.RecordHeader + .Listview {
  margin-top: -1em !important;
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  #UICenter #CentralSpaceContainer {
    margin-right: 282px;
  }
}

// max-width: 1200px;
@media only screen and (max-width: 1200px) {

  // global navigation
  #HeaderResponsive #HeaderButtons a {
    border: 0;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  }

  // global navigation 2
  #UICenter #Header.slimheader_darken .HorizontalNav ul li a {
    border: 1px solid #dedede;
    padding-left: 10px;
    padding-right: 10px;
    height: 2.5em;
    line-height: 2.5em;
    margin-bottom: 0;
    margin-top: 10px;
    background: none;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
  }

  // search input in small size
  #UICenter #SearchBarContainer {
    width: auto;
    margin: 0;
  }

  #UICenter #CentralSpaceContainer {
    width: auto;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  // fix padding size
  #UICenter #Header {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  #UICenter #HeaderNav1 {
    text-align: center;
  }
  #UICenter #HeaderNav2 {
    text-align: center
  }

  #UICenter #HeaderNav1,
  #UICenter #HeaderNav1 ul,
  #UICenter #HeaderNav2,
  #UICenter #Headernav2 ul {
    padding: 0;
  }
}


// min-width: 1200px;
@media only screen and (min-width: 1200px) {
  #SearchBox {
    // fixed scrolling on wide window
    position: fixed;
    top: 0;
    bottom: -50px;
    right: 0;
    z-index: 10;
    background: #eee;
  }

  #SearchBoxPanel {
    padding-top: 54px;
  }

  #Footer {
    margin-right: 280px;
  }

  #SearchBarContainer {
    padding-top: 35px;
  }

  #Header {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
  }
}

//
// search.php
//

// hide keys
.BottomInpageKey {
  display: none;
}

.TopInpageNav {
  border-bottom: 0;
}

// ResourcePanelShells
.ResourcePanelShellLarge,
.ResourcePanelShell,
.ResourcePanelShellSmall {
  margin: 0;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 0;
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
  box-sizing: border-box;

  // animation settings
  -webkit-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1);
  -webkit-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -moz-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -o-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585);
  transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585);

  -webkit-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1);
  -webkit-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -moz-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -o-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585);
  transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585);

  &:hover {
    border-bottom: 10px solid rgb(0, 180, 0);
  }

  // hide them
  .ResourcePanelInfo,
  .clear {
    display: none;
  }
}

// add height for better layout
.ResourcePanelShellLarge {
  height: 440px;
}

.ResourcePanelShell {
  height: 240px;
}

.ResourcePanelShellSmall {
  height: 155px;

  // fix width of rating stars
  .RatingStars a {
      display: inline-block;
      width: 0.75em;
      position: relative;
      right: 0.25em;
  }

  // hide ID text and align icons to center
  .ResourcePanelIcons {
    font-size: 0;
    text-align: center;
  }
}

.ResourcePanelLarge,
.ResourcePanel,
.ResourcePanelSmall {
  padding: 0;
  border: 0;
  background: transparent;
}

.ResourcePanelInfo {
  font-size: 0.7em;
}

//
// view.php
//

#UICenter .RecordPanel {
  background: white;
  border: 0;
  padding: 10px;
}

#previewimage {
  // set max-width for large thumbnails
  max-width: 460px;

  // large max-width on large screen
  @media only screen and (min-width: 1460px) {
    max-width: 650px;
  }
  @media only screen and (min-width: 1700px) {
    max-width: 850px;
  }
}

.RecordDownload {
  border: 0;
  border-radius: 0;
}

// fix for lightbox plugin
#lightbox-image {
  max-height: 800px;
}

#InfoBox {
  background: transparent !important;
  z-index: 10 !important;
}

#InfoBoxInner {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  background: rgb(0, 180, 0) !important;
  padding: 10px !important;
  border-radius: 8px !important;
  font-size: 0.8em !important;
  max-height: 8em !important;
}

#InfoBoxInner > * {
  color: white !important;
}

// jquery overlay

// fix overlay order
#jquery-overlay {
  z-index: 200 !important;
}

#jquery-lightbox {
  z-index: 201 !important;
}