@import 'original';


/* common */
.HomePanelIN {
  border: 0 !important;
}
#Header {
  border-bottom: 0 !important;
}
#UICenter {
  -webkit-overflow-scrolling: touch;
}
.ImageBorder,
.RecordPanel,
.Picture,
.VideoBorder {
  border: 0 !important;
}
/* common button override */
@media only screen and (max-width: 1100px) {
  .SlimHeader #Header.slimheader_darken a:link,
  .SlimHeader #Header.slimheader_darken a:visited,
  .SlimHeader #Header.slimheader_darken a:active {
    color: #565656 !important;
  }
}
#HeaderButtons a:link,
#UICenter input[type=submit],
#UICenter input[type=button],
#UICenter button,
.ResponsiveButton {
  box-shadow: none !important;
  border-radius: 8px;
  background: #e0e0e0 !important;
  border: 1px solid #bbb !important;
}
.ResponsiveButton {
  height: 38px !important;
  line-height: 38px !important;
  position: relative;
  top: 4px;
}

#HeaderButtons a:hover,
#UICenter input[type=submit]:hover,
#UICenter input[type=button]:hover,
#UICenter button:hover,
.ResponsiveButton:hover {
  opacity: 0.65;
  cursor: pointer;
}
#HeaderButtons a:active,
#UICenter input[type=submit]:active,
#UICenter input[type=button]:active,
#UICenter button:active,
.ResponsiveButton:active {
  opacity: 1;
  background: #aaa;
}

@media only screen and (min-width: 1200px) {
  .SlimHeader #SearchBarContainer {
    padding-top: 35px;
  }
  .SlimHeader #Header {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
  }

  /* simple search */
  .SlimHeader #SearchBox {
    margin-right: 0;
    position: fixed;
    top: 0;
    bottom: -50px;
    right: -25px;
    z-index: 10;
    background: #eee;
  }

  .SlimHeader #SearchBoxPanel {
    padding-top: 54px;
    border: 0 !important;
    border-radius: 0 !important;
  }
}
/* search.php */
.ResourcePanelShellLarge,
.ResourcePanelShell,
.ResourcePanelShellSmall {
  margin: 0 !important;
  margin-right: -1px !important;
  margin-bottom: -1px !important;
  padding: 0 !important;
  background: white;
  border: 1px solid #ddd !important;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1); /* older webkit */
  -webkit-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -moz-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -o-transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585);
  transition: border 500ms cubic-bezier(0.145, 0.005, 0.160, 1.585); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -moz-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585);
  -o-transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585);
  transition-timing-function: cubic-bezier(0.145, 0.005, 0.160, 1.585); /* custom */
}
.ResourcePanelShellLarge:hover,
.ResourcePanelShell:hover,
.ResourcePanelShellSmall:hover {
  /*border-top: 8px solid rgb(200, 0, 0) !important;*/
  border-bottom: 10px solid rgb(0, 180, 0) !important;
}
.ResourcePanelShellLarge {
  height: 440px !important;
}
.ResourcePanelShell {
  height: 240px !important;
}
.ResourcePanelShellSmall {
  height: 155px !important;
}
.ResourcePanelShellLarge .ResourcePanelInfo,
.ResourcePanelShellLarge .clear,
.ResourcePanelShell .ResourcePanelInfo,
.ResourcePanelShell .clear,
.ResourcePanelShellSmall .ResourcePanelInfo,
.ResourcePanelShellSmall .clear {
  display: none;
}
.ResourcePanelLarge,
.ResourcePanel,
.ResourcePanelSmall {
  padding: 0 !important;
  border: 0 !important;
  background: transparent !important;
}
.ResourcePanelInfo {
  font-size: 0.7em !important;
}
/* view.php */
/*
#previewimagewrapper img {
  width: 50%;
}*/
.RecordPanel {
  background: none !important;
  border: 0 !important;
  padding: 0 !important;
}
#previewimage {
  max-width: 460px; !important;
}
@media only screen and (min-width: 1460px) {
  #previewimage {
    max-width: 650px; !important;
  }
}
@media only screen and (min-width: 1700px) {
  #previewimage {
    max-width: 850px; !important;
  }
}
.RecordDownload {
  border: 0 !important;
  border-radius: 0 !important;
}

#lightbox-image {
  max-height: 800px !important;
}

/* Infobox */
#InfoBox {
  background: transparent !important;
  z-index: 10;
}
#InfoBoxInner {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  background: rgb(0, 180, 0) !important;
  padding: 10px !important;
  border-radius: 8px;
  font-size: 0.8em;
  max-height: 8em !important;
}
#InfoBoxInner > * {
  color: white !important;
}